html {
    background-image: url("andesite.png");
    background-attachment: fixed;
    scroll-behavior: smooth;
}

body {
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
    font-family: 'Roboto Mono', monospace;
    color: #e6e6e6;
    margin-top: -1%;
    margin-left: 5%;
    margin-right: 5%;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
  }

a {
    color: #f7a40a;
}

.top-div {
    padding-left: 16px;
    padding-right: 4px;
    padding-bottom: 4px;
    background-color: #1F1F1F88;
    text-align: center;
    position: fixed;
    top: 0;
    margin: 0 auto;
    box-shadow: 4px 4px #10101088;
}

.content {
    border: 1px dashed #e6e6e6;
    background-color: #232323;
    padding: 1.5%;
    padding-top: 0.3%;
    padding-bottom: 100%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    word-wrap: break-word;
}

footer, footer a {
    width: 81%;
    text-align: center;
    background-color: #1F1F1F88;
    position: fixed;
    left: 9.5%;
    bottom: 0;
    color: #e6e6e6;
    text-decoration: none;
}

.main {
    padding-top: 7%;
}

.contact-me{
    color: #f7a40aEE;
    margin: 0 auto;
    text-align: center;
}

.contact-me a {
    text-decoration: none;
    color: #f7a40aEE;

}

.contact-me td {
    padding: 0px 12px;
}

h1 {
    font-size: 270%;
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
}

h2, h3 { @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
}

i {
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
}

.topnav {
    width: 40%;
}

.topnav a {
    float: left;
    color: #e6e6e6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

p { 
    height: 20%;
    background-color: #1F1F1F99;
    padding: 1%;
}
