:root { 
    --flame: #C86440;
}

h1 {
    font-family: 'Helvetica';
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row;
    margin-top: 0;
    padding: 12pt;
    padding-top: 16pt;
    width: 70vw;
    color: #000;
    background-color: #fff;
}

body, html {
    font-family: 'Helvetica';
    background-color: var(--background-color);
    color: var(--text-color) !important;
    margin: 0;
    height: 100vh;
}

.content {
    display: flex;
    flex-flow: column;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    width: 70vw;
    align-self: center;
    background-color: #eee;
}

.bio {
    display: flex;
    flex-flow: row;
    flex: 1;
    margin-left: 12pt;
}