html {
    font-family: "Azeret Mono";
    margin: 0;
}

body {
    min-height: 100vh;
    border: 1px solid #f0f0f0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 4px;
    margin-top: 0px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

h1 {
    text-align: center;
    font-weight: 700;
    padding-right: 8px;
}

p {
    padding: 16px;
}

footer {
    background-color: var(--accent-two);
    color: var(--main-background);
    position: fixed;
    bottom: 0;
    height: 2rem;            /* Footer height */
    padding-top: 0.8rem;
    padding-left: 0.5rem;
    width: 100vw;
}