:root {
    --main-foreground: #171717;
    --main-background: #ffffff;
    --shadow: #00000019;
    --accent-one: #ff8b6b;
    --accent-two: #fa674d;
}

html { 
  font-family: "Azeret Mono";
  color: var(--main-foreground);
  background-color: var(--main-background);
  text-shadow: 2px 2px var(--shadow);
  margin: 0;
     
}

p {
  padding-bottom: 16px;
}

header {
  padding-bottom: 8px;
}

h1 {
    font-weight: 700;
    padding-right: 8px;
}

h1, h2, h3, h4, h5 {
    display: inline;
}

h1 a {
  border-bottom: none;
}

body {
  margin: 0;
}

main {
  padding-left: 32px;
  padding-right: 32px;
}

mark {
    background-color: transparent;
  text-shadow: 2px 2px var(--test);
}

a, a:visited, a:active {
    color: var(--main-foreground);
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:hover {
  text-decoration: underline;
  border: none;
}

footer {
  background-color: var(--accent-two);
  color: var(--main-background);
  position: fixed;
  bottom: 0;
  height: 2rem;            /* Footer height */
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  width: 100vw;
}

nav {
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

nav a {
  margin-right: 16px;
}

/* considering using some of this https://www.cssfontstack.com/Ubuntu-Mono */
